<ion-app>

  <ion-toolbar color="tertiary">
    <ion-title>To do List</ion-title>
  </ion-toolbar>

  <ion-router-outlet></ion-router-outlet>


<!--
    <ion-button (click)="test()">
      bouton
    </ion-button>

    <div style="background-color:skyblue;">
      <ion-input [(ngModel)]="poulet" placeholder="Entrer quelque chose">  
      </ion-input>
      <h1>{{poulet}}</h1>
    </div>

    <div style="background-color: palegreen;">
      <ion-button (click)="toggle()"> Push me </ion-button>
      <p>
        {{iftrue}}
      </p>
      <ion-avatar *ngIf="iftrue">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </div>
-->


</ion-app>
